<ion-header class="ion-padding">
  <div class="header-container d-flex align-items-center justify-content-between">
    <div class="header-title font-manrope fs-18 fw-500">Patient Information</div>
    <i class="fa-light fa-xmark-large cursor-pointer" (click)="close()"></i>
  </div>
</ion-header>

<ion-content class="ion-padding " [fullscreen]="true" >
  <div *ngIf="patient">
    <ion-grid class="patient-info-grid">
      <ion-row>
        <ion-col size="6" class="font-manrope fs-16 fw-500 tertiary-color">Name</ion-col>
        <ion-col size="6" class="font-manrope fs-16 fw-600 primary-color">{{ patient.name }}</ion-col> 
      </ion-row>
      <ion-row>
        <ion-col size="6" class="font-manrope fs-16 fw-500 tertiary-color">Age</ion-col>
        <ion-col size="6" class="font-manrope fs-16 fw-600 primary-color">{{ patient.age }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" class="font-manrope fs-16 fw-500 tertiary-color">Phone</ion-col>
        <ion-col size="6" class="font-manrope fs-16 fw-600 primary-color">{{ patient.phone }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" class="font-manrope fs-16 fw-500 tertiary-color">Email</ion-col>
        <ion-col size="6" class="font-manrope fs-16 fw-600 primary-color">{{ patient.email }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" class="font-manrope fs-16 fw-500 tertiary-color">Address</ion-col>
        <ion-col size="6" class="font-manrope fs-16 fw-600 primary-color">{{ patient.address }}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
  <div *ngIf="!patient" class="ion-text-center ion-padding">
    <p>No patient information available</p>
  </div>
</ion-content>