ion-button {
    --background: #242424;
    --color: #ffffff !important;
    color: #ffffff !important;
    background: #242424 !important;
    --background-activated: #242424;
    --background-focused: #242424;
    --background-hover: #242424;
  }