.green{
    border: 1px solid var(--ion-color-success) !important;;
}

.wh-100{
    width: 100px;
    height: 100px;
}

div{
    border-radius: 50%;
    position: absolute;
}


.patient-info-top-right-first{
    top: -100px;
    right: -50px;
}
.patient-info-top-right-second{
    top: -20px;
    right: 50px;
}

.wh-15{
    width: 15px;
    height: 15px;
}

.red{
    border: 1px solid var(--ion-color-danger);
}

.blue{
    border: 1px solid var(--ion-color-info);
}

.yellow{
    border: 1px solid var(--ion-color-warning);
}


.wh-50{
    width: 50px;
    height: 50px;
}

.patient-info-top-right-third{
    top: 20px;
    right: -50px;
}
.patient-info-top-right-four{
    left: -40px;
    bottom: 0px;
}
.patient-info-top-right-four{
    left: -40px;
    bottom: 0px;
}
.patient-info-top-right-five{
    top: 50%;
    left: 15px;
}
.patient-info-top-right-six{
    top: 10px;
    right: 0;
}
.patient-info-top-right-seven{
    left: 10px;
    bottom: -50px;
}


.wh-10{
    width: 10px;
    height: 10px;
}