.vitals-title {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.vital-value {
  &.normal {
  }
  &.high {
  }
  &.low {
  }
  .vital-unit {
    margin-left: 2px;
  }
}
 