<ion-header>
  <div class="header-container">
    <div class="header-title">Add Clinical Note</div>
    <i class="fa-light fa-xmark-large cursor-pointer" (click)="close()"></i>
  </div>
</ion-header>
<ion-content>
  <div class="note-modal-content ion-padding">
    <textarea class="note-textarea" placeholder="Type your note..." rows="5"></textarea>
    <div class="mic-btn-container-vertical">
      <div class="wave-bar-center">
        <svg _ngcontent-ng-c2013397884="" _ngcontent-ng-c3434871109="" width="220" height="100" viewBox="0 0 250 60"
          fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect _ngcontent-ng-c2013397884="" _ngcontent-ng-c3434871109="" x="10" y="38" width="6" height="14" rx="3"
            fill="#242424"></rect>
          <rect _ngcontent-ng-c2013397884="" _ngcontent-ng-c3434871109="" x="28" y="22" width="6" height="44" rx="3"
            fill="#242424"></rect>
          <rect _ngcontent-ng-c2013397884="" _ngcontent-ng-c3434871109="" x="46" y="12" width="6" height="64" rx="3"
            fill="#242424"></rect>
          <rect _ngcontent-ng-c2013397884="" _ngcontent-ng-c3434871109="" x="64" y="36" width="6" height="14" rx="3"
            fill="#242424"></rect>
          <rect _ngcontent-ng-c2013397884="" _ngcontent-ng-c3434871109="" x="82" y="12" width="6" height="56" rx="3"
            fill="#242424"></rect>
          <rect _ngcontent-ng-c2013397884="" _ngcontent-ng-c3434871109="" x="100" y="22" width="6" height="40" rx="3"
            fill="#242424"></rect>
          <rect _ngcontent-ng-c2013397884="" _ngcontent-ng-c3434871109="" x="118" y="26" width="6" height="34" rx="3"
            fill="#242424"></rect>
          <rect _ngcontent-ng-c2013397884="" _ngcontent-ng-c3434871109="" x="136" y="22" width="6" height="44" rx="3"
            fill="#242424"></rect>
          <rect _ngcontent-ng-c2013397884="" _ngcontent-ng-c3434871109="" x="154" y="30" width="6" height="24" rx="3"
            fill="#242424"></rect>
          <rect _ngcontent-ng-c2013397884="" _ngcontent-ng-c3434871109="" x="172" y="26" width="6" height="34" rx="3"
            fill="#242424"></rect>
          <rect _ngcontent-ng-c2013397884="" _ngcontent-ng-c3434871109="" x="190" y="32" width="6" height="24" rx="3"
            fill="#242424"></rect>
          <rect _ngcontent-ng-c2013397884="" _ngcontent-ng-c3434871109="" x="208" y="16" width="6" height="56" rx="3"
            fill="#242424"></rect>
          <rect _ngcontent-ng-c2013397884="" _ngcontent-ng-c3434871109="" x="226" y="32" width="6" height="24" rx="3"
            fill="#242424"></rect>
        </svg>

      </div>
      <button class="mic-btn" (click)="shuffleBars()">
        <i class="fa-solid fa-microphone"></i>
      </button>
    </div>
  </div>
</ion-content>