.note-modal-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.note-textarea {
  width: 100%;
  resize: none;
  border: none;
  padding: 0.5rem;
  margin-bottom: 2.7rem;
  outline: none;
  min-height: 150px;
  box-sizing: border-box;
}

.mic-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.mic-btn-container-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  margin-top: 1.5rem;
}

.wave-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.mic-btn {
  background: #141414;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  cursor: pointer;
  transition: background 0.2s;
}

.mic-btn:hover {
  background: #222;
}

.wave-bar-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1.2rem;
}

.image-actions {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  z-index: 1;
  bottom: 0;
  left: 0;
  padding: 0px 1rem;
}

.image-btn {
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.image-preview {
  display: block;
  max-width: 100%;
  max-height: 200px;
  margin: 1rem auto 0;
  border-radius: 8px;
  border: 1px solid #eee;
}

.textarea-container {
  position: relative;
}

.image-actions-inside {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  z-index: 2;
}

.icon-btn {
  background: #141414;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  cursor: pointer;
  transition: background 0.2s;
  margin-left: 0.5rem;
}

.image-actions-container{
  border: 1px solid var(--ion-color-border);
  border-radius: 10px;
  padding: 0.5rem;
  background: #fff;
}

.icon-btn:hover {
  background: #222;
}

.custom-image-alert .alert-wrapper {
  background: #23272f;
  color: #fff;
  border-radius: 16px;
}

.custom-image-alert .alert-title {
  color: #ffd600;
  font-weight: 700;
  font-size: 1.2rem;
}

.custom-image-alert .alert-button {
  color: #ffd600;
  font-weight: 600;
  font-size: 1rem;
}

.custom-image-alert .alert-button.sc-ion-alert-md {
  border-radius: 8px;
  margin: 0 4px;
}

