ion-input, ion-select, ion-item {
}

ion-list {
  margin-top: 1rem;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

.side-heading-col {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  margin-bottom: 1rem;
}

.side-heading {
  text-align: center;
}

.form-field-gap {
  margin-bottom: 1rem;
  display: block;
}
