<div class="clinical-notes-container ion-padding">
  <div class="clinical-notes-title ">Clinical Notes</div>
  <ion-grid class="clinical-note-list">
    <ion-row class="stepper-row" *ngFor="let note of notes; let i = index">
      <ion-col size="1" class="stepper-col">
        <div class="stepper-icon-container">
          <i class="fa-light fa-notes stepper-icon"></i>
          <div *ngIf="i < notes.length - 1" class="stepper-line"></div>
        </div>
      </ion-col>
      <ion-col size="10">
        <div>
          <div class="note-title">{{ note.title }}</div>
          <div class="note-date">{{ note.date }}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="new-note-btn-container">
    <app-button buttonLabel="Add Note" (click)="openAddNoteModal()"></app-button>
  </div>
</div> 