.clinical-notes-title {
  margin-bottom: 1rem;
}
.clinical-note-list {
  // margin-bottom: 1.5rem;
}
.clinical-note-item {
  display: flex;
  align-items: flex-start;
  gap: 0.7rem;
  margin-bottom: 1.2rem;
}
.note-icon {
  margin-top: 0.1rem;
}
.note-title {
  // font-weight: bold;
}

.new-note-btn-container {
  display: flex;
  justify-content: flex-end;
}
ion-button.new-note-btn {
  background: #141414;
  border-radius: 999px;
  padding: 0 2.2rem;
  height: 48px;
}
.stepper-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0;
  width: 32px;
}
.stepper-icon-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stepper-icon {
  z-index: 1;
  background: #fff;
  border-radius: 50%;
  padding: 2px;
}
.stepper-line {
  width: 2px;
  height: 40px;
  background: #d1d5db;
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
.stepper-row {
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
} 