.patient-list-content {
  background: #f6f8fb;
}

.search-bar-wrapper {
  padding: 16px 16px 8px 16px;
}

.patient-list {
  padding: 8px 16px 16px 16px;
}

.patient-card {
  margin-bottom: 16px;
  border-radius: 0px !important;
  box-shadow: none !important;
  cursor: pointer;
  background: #fff;
  border-bottom: 1px solid #e0e4e8;
  &:last-child {
    border-bottom: none;
  }



  ion-card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 12px;
  }

  .patient-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }



  .patient-status-date {
    margin-top: 4px;
    display: flex;
    align-items: center;
    gap: 8px;
  }


    .status-scheduled { color: var(--ion-color-success); }
    .status-completed { color: var(--ion-color-info); }
    .status-cancelled { color: var(--ion-color-danger); }
  


}

.orange-circle {
  width: 80px;
  height: 80px;
  border: 1px solid #ff9800;
  border-radius: 50%;
  bottom: -5px;
  left: -30px;
  position: absolute;
}

.circle-green {
  width: 110px;
  height: 110px;
  border: 1px solid #37c456;
  border-radius: 50%;
  top: -60px;
  position: absolute;
  right: -40px;
}





