<ion-header [translucent]="true">
  <ion-toolbar>
    <app-header pageTitle="Patients"></app-header>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="patient-list-content">
  <div class="search-bar-wrapper">
    <ion-searchbar class="no-padding no-margin" [(ngModel)]="searchTerm" placeholder="Search patients"></ion-searchbar>
  </div>
  <ion-list class="patient-list">
    <ion-card *ngFor="let patient of filteredPatients" class="patient-card no-padding no-margin" (click)="onPatientClick(patient)">
      <ion-card-content class="d-flex align-items-center justify-content-between">
        <div class="patient-info">
          <div class="patient-name font-manrope fs-16 fw-600 primary-color d-flex align-items-center gap-05"><i class="fa-light fa-user fs-16"></i> {{patient.name}}</div>
          <div class="patient-details font-manrope fs-14 fw-500 tertiary-color">DOB: {{patient.dob}} | {{patient.gender}}</div>
          <div class="patient-status-date">
            <span class=" font-manrope fs-14 fw-600 status-{{patient.status.toLowerCase()}} d-flex align-items-center gap-05">
              <i class="fa-light" [ngClass]="{
                'fa-calendar': patient.status === 'Scheduled',
                'fa-circle-check': patient.status === 'Completed',
                'fa-circle-xmark': patient.status === 'Cancelled',
                'info-icon': true
              }"></i>
              {{patient.status}}
            </span>
            <span class="date font-manrope fs-14 fw-500 tertiary-color">| {{patient.date}}</span>
          </div>
        </div>
        <i class="fa-light fa-chevron-right chevron-icon"></i>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
