<div class="font-manrope fs-16 fw-600 primary-color mb-1">Today's Schedule</div>

<div class="custom-list">
  <div 
    *ngFor="let item of schedule; trackBy: trackByFn" 
    class="slide-item"
    #slideItem>
    
    <!-- Main item content -->
    <div class="item-content" (click)="onItemClick(item, $event)">
      <div class="item-inner">
        <div class="avatar-container">
          <img [src]="item.avatar" alt="avatar" class="avatar-img" />
        </div>
        <div class="item-details">
          <div class="schedule-title font-manrope fs-16 fw-500 primary-color">{{ item.title }}</div>
          <div class="schedule-time font-manrope fs-14 fw-500 tertiary-color">{{ item.time }}</div>
        </div>
      </div>
    </div>
    
    <!-- Slide options (hidden by default) -->
    <div class="item-options">
      <div class="option-button message-option" (click)="onMessageClick(item, $event)">
        <i class="fa-light fa-messages fs-24 secondary-color"></i>
      </div>
    </div>
    
  </div>
</div>