.revenue-card {
  background: #fff;
  border-radius: 18px;
  // padding: 1.5rem 1.2rem;
  margin-bottom: 1.5rem;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.revenue-title {
  margin-bottom: 0.5rem;
}
.revenue-value {
  margin-bottom: 0.2rem;
}
.revenue-subtitle {
  margin-bottom: 0.7rem;
}

.revenue-chart {
  width: 100%;
  margin-bottom: 0.7rem;
}
.revenue-months {
  display: flex;
  justify-content: space-between;
  width: 100%;
  letter-spacing: 0.01em;
}


.section-title {
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1rem;
}