body[theme=dark] * {
    --ion-color-primary: #ffffff;
    --ion-color-secondary: #242424;
    --ion-color-tertiary: #888888;
    --ion-color-border: #e0e4e8;
    --ion-color-background: #ffffff;
    --ion-color-surface: #ffffff;
    --ion-color-card: #ffffff;
    --ion-color-card-background: #ffffff;
    --ion-color-card-border: #ffffff;
    --ion-color-card-background: #ffffff;
    --ion-color-success: #078807;
    --ion-color-warning: #ffc107;
    --ion-color-danger: #dc3545;
    --ion-color-info: #007bff;
    --ion-color-light: #f8f9fa;
    --ion-color-medium: #6c757d;
    --ion-color-dark: #343a40;
}